services:
  app:
    container_name: ciclosmajor-app
    build: wordpress
    restart: always
    volumes:
      - site:/var/www/html

  web:
    container_name: ciclosmajor-web
    build: nginx
    restart: always
    depends_on:
      - app
    environment:
      VIRTUAL_HOST: wp.ciclosmajor.com
      LETSENCRYPT_HOST: wp.ciclosmajor.com
      LETSENCRYPT_EMAIL:
    volumes:
      - site:/var/www/html

  redirect:
    container_name: ciclosmajor-redirect
    image: morbz/docker-web-redirect
    restart: always
    environment:
      VIRTUAL_HOST: ciclosmajor.com
      LETSENCRYPT_HOST: ciclosmajor.com
      LETSENCRYPT_EMAIL:
      REDIRECT_TARGET: www.ciclosmajor.com

  redirect-www:
    container_name: ciclosmajor-redirect-www
    image: morbz/docker-web-redirect
    restart: always
    environment:
      VIRTUAL_HOST: www.ciclosmajor.com
      LETSENCRYPT_HOST: www.ciclosmajor.com
      LETSENCRYPT_EMAIL:
      REDIRECT_TARGET: wp.ciclosmajor.com

volumes:
  site:

networks:
  default:
    name: ciclosmajor
